<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main id="app">
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div id="chat-messages" class="card-content" style="height:70vh;overflow-y:scroll;padding:0px;bottom:0;overflow-anchor:none;width:100%;word-wrap:break-word">
                    <template v-for="(item, index) in items"><hr v-if="index > 0" style="border-top: 1px dotted green;width:90%"><span class="chip"><img src="https://i.ibb.co/KN8S8b4/2019-11-22-18-59.jpg">{{ item[0] }}</span>{{ item[1] }}</template>
                </div>
            </div>
        </div>
    </div>
    <div class="row" v-if="joined">
        <div class="input-field col s8">
            <input type="text" v-model="newMsg" @keyup.enter="send()">
        </div>
        <div class="input-field col s4">
            <button class="btn-floating btn-large waves-effect waves-light blue" @click="send()">
                Enviar
            </button>
        </div>
    </div>
    <div class="row" v-if="!joined">
        <div class="input-field col s8">
            <input type="text" v-model.trim="username" placeholder="Nombre de usuario">
        </div>
        <div class="input-field col s4">
            <button class="waves-effect waves-light btn" @click="join()">
                Registrarse
            </button>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
"use strict";
var sendping = 1;
var ws = null;
new Vue({
    el: '#app',
    data: {
        items:[],
        newMsg: '',
        username: null,
        joined: false
    },
    created: function() {
        var self = this;
        ws = new WebSocket('wss://WEBSOCKETSERVER');

        ws.addEventListener('message', function(e) {
            if (e.data === 'OK'){
                return;
            }
            var msg = JSON.parse(e.data);//Trusted input
            self.items.push([msg.username, msg.message]);
            Vue.nextTick(function () {
                var element = self.$el.querySelector("#chat-messages");
                element.scrollTop = element.scrollHeight;
            });
        });
        window.setInterval(function(){
            if (sendping == 8){//Ping each 8min
                ws.send(
                    JSON.stringify({
                        action: 'ping'
                    })
                    );
                sendping = 1;
            }else{
                sendping++;
            }
        }, 60000);
    },
    methods: {
        send: function () {
            if (this.newMsg == '') {
                return;
            }
            if (this.newMsg.length > 2000){
                alert("El texto tiene " + this.newMsg.length + " caracteres. Máximo permitido: 2000");
                return;
            }
            ws.send(
                JSON.stringify({
                    action: 'sendmessage',
                    data: {
                        username: this.username,
                        message: this.newMsg
                    }
                }
                ));
            this.newMsg = '';
            sendping = 1;
        },
        join: function () {
            if (!this.username) {
                alert("Escoge un nombre de usuario.");
            }else{
                if (this.username.length > 40){
                    alert("Nombre tiene " + this.username.length + " caracteres. Máximo permitido: 40");
                }else{
                    this.joined = true;
                }
            }
        }
    }
});
</script>
</body>
</html>
